:root {
  --primary-color: #12a465;
  --secondary-color: #0D7317;
  --tertiary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER BEGIN*/
header {
  padding: 20px 35px;
  background-color: var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: var(--tertiary-color);
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}
/* HEADER END */

/* FOOTER BEGIN */
#main-footer {
  background: var(--primary-color);
  color: var(--tertiary-color);
  height: 5rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center; }
    #main-footer .footer-content .social .fab,
    #main-footer .footer-content .social .fas {
      margin-right: 1rem;
      border: 2px var(--tertiary-color) solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      color: var(--tertiary-color); }
      #main-footer .footer-content .social .fab:hover,
      #main-footer .footer-content .social .fas:hover {
        background: var(--secondary-color) }

footer a {
  color: var(--tertiary-color);
}
/* FOOTER END */

/* RESOURCE PAGE BEGIN */

/* RESOURCE PAGE END */

/* CONTACT PAGE BEGIN */

/* CONTACT PAGE END */

